<?xml version="1.0" encoding="utf-8"?>
<Config>
    <Entry Name="fontType" Value="font-family: \'Times New Roman\', Times, serif;"></Entry>
    <Entry Name="fontSize" Value="font-size: 20px;"></Entry>
    <Entry Name="border" Value="border: 1px solid black;"></Entry>
    <Entry Name="roomsXmlPath" Value="../Nav/dependencies/rooms.xml"></Entry>
    <Entry Name="projectLogo" Value="../Nav/dependencies/LOGO.JPG"></Entry>
    <Entry Name="projectTitleLabelText" Value="Navigation in Jacobs"></Entry>
    <Entry Name="projectTitleLabelStyle" Value="background-color: yellow;"></Entry>
    <Entry Name="windowTitleText" Value="Created By Adam Anan and Gilad Eini"></Entry>
    <Entry Name="currentLocationLabelText" Value="I am here: "></Entry>
    <Entry Name="currentLocationLabelStyle" Value="background-color: green;"></Entry>
    <Entry Name="destinationLabelText" Value="Take me to: "></Entry>
    <Entry Name="destinationLabelStyle" Value="background-color: red;"></Entry>
    <Entry Name="logLabelText" Value="Directions"></Entry>
    <Entry Name="logLabelStyle" Value="background-color: blue;"></Entry>
    <Entry Name="logStyle" Value="background-color: grey;"></Entry>
    <Entry Name="groupBoxPrefStyle" Value=""></Entry>
    <Entry Name="resetButtonStyle" Value=""></Entry>
    <Entry Name="filterButtonStyle" Value=""></Entry>
    <Entry Name="goButtonStyle" Value=""></Entry>
    <Entry Name="locationCBsStyle" Value=""></Entry>
    <Entry Name="floorsNumbersWidgetStyle" Value=""></Entry>
    <Entry Name="floorsNumbersWidgetHeader" Value="See only the following floors:"></Entry>
    <Entry Name="baseFloor" Value="3"></Entry>
</Config>
